.header {
  font-family: 'Inter', Arial, sans-serif;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: #073042;    
}

@media screen and (max-width: 898px) {
  .header {
    width: 100%;
  }
}

.header__logo {
  box-sizing: border-box;
  margin: 18px 0 18px 70px;
}

@media screen and (max-width: 898px){
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}

.header__menu {
  display: flex;
  align-items: center;   
}

.header__element {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  text-align: center;
}


.header__element_button {
  background: #3DDC84;
  border-radius: 3px; 
  color: #000;
  margin: 0 70px 0 10px;  
  padding: 8px 20px;
}